<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">APIcat</a>
      <button class="navbar-toggle collapsed" (click)="isNavbarCollapsed = !isNavbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" [collapse]="isNavbarCollapsed">
      <ul class="nav navbar-nav">
        <li><a routerLink="/definitions">Definitions</a></li>
        <li><a routerLink="/specifications">Specifications</a></li>
        <li><a routerLink="/validate">Validate</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <alert *ngFor="let alert of alerts| async" [type]="alert.type" [dismissible]="true"
         [dismissOnTimeout]="alert.timeToLive"
         (close)="closeAlert(alert)">
    {{ alert.content }}
  </alert>
  <router-outlet></router-outlet>
</div>

<app-loading-indicator></app-loading-indicator>
