<div class="page-header">
  <h1>Definition list</h1>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <a routerLink="/definitions/add" class="btn btn-success">Add</a>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Author</th>
    <th>Version</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let definition of definitions">
    <td>{{definition.id}}</td>
    <td>{{definition.name}}</td>
    <td>{{definition.author}}</td>
    <td>{{definition.version}}</td>
    <td><a class="btn btn-default" [routerLink]="['/definitions', definition.id]">details</a></td>
  </tr>
  </tbody>
</table>
