<div class="page-header">
  <h1>Definition details</h1>
</div>

<div *ngIf="definition">
  <div class="panel panel-default">
    <div class="panel-body">
      <a [routerLink]="['/definitions']" class="btn btn-default">Go to list</a>
      <a [routerLink]="['/definitions', definition.id, 'edit']" class="btn btn-primary">Edit</a>
    </div>
  </div>

  <table class="table">
    <tr>
      <td>id</td>
      <td>{{definition.id}}</td>
    </tr>
    <tr>
      <td>name</td>
      <td>{{definition.name}}</td>
    </tr>
    <tr>
      <td>version</td>
      <td>{{definition.version}}</td>
    </tr>
    <tr>
      <td>author</td>
      <td>{{definition.author}}</td>
    </tr>
    <tr>
      <td>format</td>
      <td>{{definition.format}}</td>
    </tr>
    <tr>
      <td>content</td>
      <td>
        <textarea readonly [ngModel]="definition.content" class="form-control" rows="15" id="content"></textarea>
      </td>
    </tr>
  </table>
</div>
